{{template "base" .}}

{{define "content"}}

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button id="search_button" onclick="search()" class="btn btn-outline-secondary" type="button">Button</button>
  </div>
  <input id="search_box" type="text" value="{{index .Data "searchText"}}" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
</div>

<div class="row">
        <table class="table-sm" id="table-trades">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Status</th>
                <th scope="col">SymbolLong</th>
                <th scope="col">SymbolShort</th>
                <th scope="col">QtyLong</th>
                <th scope="col">QtyShort</th>
              </tr>
            </thead>
            <tbody>
              {{range index .Data "trade_list"}}
              <tr id="transaction-row-{{.Id}}">
                <th onclick="tableclick({{.Id}})" scope="row">{{.Id}}</th>
                <td>{{ .Status}}</td>
                <td>{{ .SymbolLong}}</td>
                <td>{{ .SymbolShort }}</td>
                <td>{{ .QtyLong }}</td>
                <td>{{ .QtyShort }}</td>
              </tr>
              {{end}}
            </tbody>
          </table>
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item" id="linkprev"><a id="hlinkprev" class="page-link" href="">Previous</a></li>
              <li class="page-item" id="link1"><a id="hlink1" class="page-link" href="#">1</a></li>
              <li class="page-item" id="link2"><a id="hlink2" class="page-link" href="#">2</a></li>
              <li class="page-item" id="link3"><a id="hlink3" class="page-link" href="#">3</a></li>
              <li class="page-item" id="linkforward"><a id="hlinkfwd" class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
</div>

<script>
  var search_text;
  function search() {
    search_text = $("#search_box").val()
    window.location.replace(`/?page=${curr_page}&search=${search_text}`);
  }
</script>
<script>
  function tableclick(id) {
    console.log(id)
    var html;
    $.ajax({ url: "/get-logs/" + id,
    context: document.body,
    success: function(done){
      if (done){
        html = `
        <table class="table table-condensed" style="font-size:10px">
          <thead>
            <tr>
              <th>Id</th>
              <th>Category</th>
              <th>Message</th>
              <th>Raw</th>
            </tr> 
          </thead>
        <tbody>
        `
        for (let i=0; i<done.length; i++) {
          const el = done[i] 
          html+=`<tr>
            <td>${el.Id}</td>
            <td>${el.Category}</td>
            <td>${el.Message}</td>
            <td>${el.Raw}</td>
          </tr>`
        }
        html += `
      </tbody>
    </table>
    `


    $("#transaction-logs").remove()
    
    $('#transaction-row-' + id).after(`<tr id="transaction-logs"><td colspan="6">
      ${html}
    </td></tr>`);
  
  } else {
    html = "no logs found"
  }
},
error: function(err) {
  console.error(err)
}
});
  
  }
</script>


<script>
  var curr_page;
  function populateLinks(page = null) {
    console.log('populating links', page)
    if (!page) {
      page = {{index .Data "page"}};
      console.log("current page", page)
      if (page == 1) {
        $('#linkprev').addClass('disabled');
      } else {
        $('#linkprev').removeClass('disabled');
        const np = `/?page=${page-1}`;
        console.log(np)
        $('#hlinkprev').attr("href", np)
      }

      for (i=1; i<=10; i++) {
        const np = `?page=${page+i}`;
        $(`#hlink${i}`).attr("href",  np + search)
        $(`#hlink${i}`).text(page+i)
      }
      $('#hlinkfwd').attr("href", `/?page=${page+4}`)
    }
    curr_page = page
  }

  $( document ).ready(populateLinks());
</script>
{{end}}
