{{template "base" .}}

{{define "content"}}

<div class="row">
        <table class="table-sm ">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Status</th>
                <th scope="col">SymbolLong</th>
                <th scope="col">SymbolShort</th>
                <th scope="col">QtyLong</th>
                <th scope="col">QtyShort</th>
              </tr>
            </thead>
            <tbody>
              {{range index .Data "trade_list"}}
              <tr>
                <th scope="row">{{.Id}}</th>
                <td>{{ .Status}}</td>
                <td>{{ .SymbolLong}}</td>
                <td>{{ .SymbolShort }}</td>
                <td>{{ .QtyLong }}</td>
                <td>{{ .QtyShort }}</td>
              </tr>
              {{end}}
            </tbody>
          </table>
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              {{$page := .Data "page"}}
              <li class="page-item"><a class="page-link" href="/?page=">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
</div>
{{end}}
