{{template "base" .}}

{{define "content"}}

<script>
  
</script>

<script>
  listOfFiles = []
  $(document).ready(() => {
    getContent()
  })
  function getContent() {
    var html;
    $.ajax({ url: "./list-files",
      context: document.body,
      success: function(res){
        for (i in res) {
          f = res[i];
          if (f.startsWith("cointegration_results")) listOfFiles.push(f)
        }
        console.log(listOfFiles)
      },
      error: function(err) {
        console.error(err)
      }
    });
  
  }
</script>



<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>

  {{end}}