{{template "base" .}}

{{define "content"}}
<script>
  function getTimeFrame(file) {
    const arr = file.split("_");
    return arr[2]
  }
  function addRow(file, i) {
    return `<tr>
      <th scope="row">${i}</th>
      <td>${file}</td>
      <td>${getTimeFrame(file)}</td>
    </tr>`
  }
  listOfFiles = []
  $(document).ready(() => {
    getContent()
  })
  function getContent() {
    var html;
    $.ajax({ url: "./list-files",
      context: document.body,
      success: function(res){
        let table = ''
        for (i in res) {
          f = res[i];
          if (f.startsWith("cointegration_results")) {
            listOfFiles.push(f)
            table +=addRow(f,i+1)
          }
        }
        console.log(table)
        console.log(listOfFiles)
        $('#files-table tbody').html(table);
      },
      error: function(err) {
        console.error(err)
      }
    });
  
  }
</script>



<table class="table" id="files-table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Filename</th>
        <th scope="col">Date Created</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>

  {{end}}