{{template "base" .}} {{define "content"}}
<div class="row mt-2">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        Result: <b>{{ index .Data "usdt_res"}} USDT</b>,
        <b>{{ index .Data "btc_res"}} BTC</b>
        ({{ index .Data "btc_res_usdt"}} USDT)
      </div>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Curr Res</th>
      <th scope="col">Hr To Close </th>
      <th scope="col">Long</th>
      <th scope="col" class="d-none d-sm-none d-md-block">Qty Long</th>
      <th scope="col">Short</th>
      <th scope="col" class="d-none d-sm-none d-md-block">Qty Short</th>
      <th scope="col">Opened</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {{range index .Data "trade_list"}}
    <tr
      id="transaction-row-{{.Id}}"
      {{if
      gt
      .IncNo
      0
      }}
      class="table-info"
      {{end}}
    >
      <th onclick="tableclick({{ .Id }})" scope="row">{{ .Id }}</th>
      <td {{if gt .CurrRes 0.0}} class="table-success" {{ end }}>
        {{ .CurrResDisp}} {{if gt .IncNo 1}}
        <span class="badge bg-secondary">{{ .IncNo }}</span>
        {{end}}
      </td>
      <td {{if lt .HoursToClose 10}} class="table-warning" {{ end }}>
        {{ .HoursToClose}} 
        {{if lt .ShouldCloseAgo 0}}
        <span class="badge bg-secondary">{{ .ShouldCloseAgo }}</span>
        {{ end }}
      </td>
      <td>{{ .SymbolLong}}</td>
      <td class="d-none d-sm-none d-md-block">{{ .QtyLong }}</td>
      <td>{{ .SymbolShort}}</td>
      <td class="d-none d-sm-none d-md-block">{{ .QtyShort }}</td>
      <td>{{.OpenedAt}}</td>
      <td>
        <a
          id="close-link-{{.Id}}"
          href="#"
          onclick="event.preventDefault();  closeTrade({{.Id}})"
          >Close</a
        >
      </td>
    </tr>
    {{end}}
  </tbody>
</table>
{{end}}

<script>
  const xhr = new XMLHttpRequest();
  let selectedToClose = undefined;
  function closeTrade(id) {
    const newEl = document.getElementById("close-link-" + id);

    if (selectedToClose !== id) {
      const oldEl = document.getElementById("close-link-" + selectedToClose);
      if (oldEl) {
        oldEl.className = "";
      }
      selectedToClose = id;

      newEl.className = "btn btn-danger btn-sm";
      return;
    }
    newEl.className = "";
    console.log(id);

    xhr.open("GET", "/close-trade/" + id);
    xhr.send();
    return false;
  }

  function tradeDetails(id) {
    console.log(id);
    xhr.open("GET", "/get-logs/" + id);
    xhr.send();
    xhr.on;
  }

  xhr.addEventListener("load", () => {
    if (xhr.status === 200) {
      const resp = JSON.parse(xhr.response);
      if (resp.msg === "trade succesfully closed") {
        console.log(resp);
        const element = document.getElementById("close-link-" + resp.data);
        element.parentNode.removeChild(element);
      }
    } else {
      console.log(xhr.status);
    }
  });
</script>
